@import "tailwindcss" source(none);
@source "../../../public/*.html";
@source "../../../app/helpers/**/*.rb";
@source "../../../app/javascript/**/*.js";
@source "../../../app/views/**/*";

@plugin "./daisyui.js"{
  themes: caramellatte;
}

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "./daisyui-theme.js"


.custom-select option:checked {
  background-color: #bae6fd; /* bg-sky-200 */
  color: #0c4a6e; /* text-sky-900 */
}
