
<div class="hero bg-white min-h-screen rounded-lg shadow-md p-8">
  <div class="hero-content flex items-center justify-content-center">

    <%= image_tag("Image_Empty.webp", class:"max-w-sm rounded-lg shadow-2x")  %>
      <div>
        <div class="relative size-32 ..."><h1 class="text-base font-bold absolute inset-x-0 top-0 h-18">Nom de la boutique</h1></div>
        <p class="py-3"> Description :</p>
        <p class="py-3">Adresse :</p>
        <p class="py-3">Numéro de téléphone :</p>
        <p class="py-3">Adresse e-mail :</p>
      </div>
    <%= image_tag("Image_Empty.webp", class:"max-w-sm rounded-lg shadow-2x")  %>
  </div>
</div>
</div>
