<button class="btn btn-block bg-[#FF9E2C] text-[#7C2807] flex justify-center hover:bg-orange-500"
data-action="click->cart#showCart click->cart#addItem click->cart#transformCard"
data-cart-url="<%= store_orders_path(product.store) %>"
data-product-id="<%= product.id %>">Ajouter au panier</button>
