<%# <% if notice %>
  <%# <div class="alert alert-info alert-dismissible fade show m-1" role="alert"> %>
    <%# <%= notice %>
    <%# <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> %>
    <%# </button> %>
  <%# </div> %>
<%# <% end %>
<%# <% if alert %>
  <%# <div class="alert alert-warning alert-dismissible fade show m-1" role="alert"> %>
    <%# <%= alert %>
    <%# <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> %>
    <%# </button> %>
  <%# </div> %>
<%# <% end %>



<% if notice %>
  <div class="bg-blue-100 border border-blue-300 text-blue-800 px-4 py-3 rounded relative m-1" role="alert">
    <%= notice %>
    <button type="button" class="absolute top-2 right-2 text-blue-800" onclick="this.parentElement.remove();" aria-label="Close">
      &times;
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="bg-yellow-100 border border-yellow-300 text-yellow-800 px-4 py-3 rounded relative m-1" role="alert">
    <%= alert %>
    <button type="button" class="absolute top-2 right-2 text-yellow-800" onclick="this.parentElement.remove();" aria-label="Close">
      &times;
    </button>
  </div>
<% end %>
