<div class="relative">
  <footer class="footer border-t-1 border-base-200 sm:footer-horizontal text-xl text-base-content p-10 static bottom-0 right-0 left-0 grid grid-cols-3 gap-6 justify-evenly">
    <aside>
        <%= link_to root_path do %>
          <%= image_tag "Logo_local_heroes.webp", class: "h-[15vh] opacity-60" %>
        <% end %>
    </aside>
    <nav class="opacity-75">
      <h6 class="footer-title text-[#7c2808]">Services</h6>
      <a class="link link-hover">SAV</a>
      <a class="link link-hover">Sécurité</a>
      <a class="link link-hover">Devenez Boutiques Partenaires</a>
    </nav>
    <nav class="opacity-75">
      <h6 class="footer-title text-[#7c2808]">Local Heroes</h6>
      <a class="link link-hover">Recrutement</a>
      <a class="link link-hover">Notre Histoire</a>
      <a class="link link-hover">Contactez-nous</a>
    </nav>
    <nav class="opacity-75">
      <h6 class="footer-title text-[#7c2808]">Mentions Légales</h6>
      <a class="link link-hover">Données personnelles</a>
      <a class="link link-hover">Conditions générales de ventes</a>
      <a class="link link-hover">Conditions générales d'utilisation du compte</a>
    </nav>
  </footer>
</div>
