<h1>Les events</h1>
<div class="container grid grid-cols-3 gap-3">
  <%= render "shared/event_card" %>
  <%= render "shared/event_card" %>
  <%= render "shared/event_card" %>
  <%= render "shared/event_card" %>
</div>
