<div
  class="hero m-auto h-[600px] mb-10 border-1 shadow-lg"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">

  <div class="hero-overlay"  style="background-color: rgba(13, 189, 13, 0.4);"></div>
  <div class="hero-content text-neutral-content text-center m-auto">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">40 milliards d'euros dans la poche!</h1>
      <p class="mb-5">
        Soyez un bon consommateur: rendez-nous riches!
      </p>
      <%= render "shared/searchbar" %>
    </div>
  </div>
</div>



<div>
  <h2 class="text-center m-auto size-fit p-3 text-3xl font-bold">Evénements en cours!</h2>
  <br>
  <hr>
</div>

<div class="grid grid-cols-2 gap-8 m-10 p-9">
  <% Event.last(6).each do |event| %>
    <%= render "shared/event_card", event: event %>
  <% end %>
</div>

<h2 class="text-center rounded-full m-auto size-fit p-3 text-3xl font-bold">Vos magasins favoris</h2>
<br>
<hr>

<div class="grid grid-cols-5 gap-8 m-10 p-9">
  <% Store.last(10).each do |store| %>
    <%= render "shared/store_card_event_show", store: store %>
  <% end %>
</div>
