<div class="flex justify-center bg-[#fff7ed]">
  <%= render "shared/searchbar" %>
</div>

<p>Mes recherches : </p>

<div class="grid grid-cols-3 gap-4 pt-5">
  <% @results.each do |result| %>
    <% if result.is_a?(Event) %>
      <%= render "shared/event_card", event: result %>
    <% elsif result.is_a?(Store) %>
      <%= render "shared/store_card", store: result %>
    <% end %>
  <% end %>
</div>
