<% content_for :title, "Cherchez les commerces locaux et événements locaux près de chez vous!  | Local Heroes" %>

<div class="flex justify-center">
  <%= render "shared/searchbar" %>
</div>

<div class="flex justify-center py-7">

  <div class="search">
    <p class=" text-neutral-content p-5">Mes recherches : </p>
    <div class="cards px-3">
      <div class="grid grid-cols-3 gap-2 pt-5">
        <% @results.each do |result| %>
          <% if result.is_a?(Event) %>
            <%= render "shared/event_card", event: result %>
          <% elsif result.is_a?(Store) %>
            <%= render "shared/store_card", store: result %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
