@import url("https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css");

.boulangerie {
  background-color: rgba(250, 208, 117, 0.6);
}

.poissonnerie {
  background-color: rgba(85, 204, 255, 0.6);
}

.boucherie {
  background-color: rgba(255, 158, 158, 0.6);
  opacity: 0.6;
}

.jeux {
  background-color: rgba(112, 122, 255, 0.6);
}

.friperie {
  background-color: rgba(181, 255, 217, 0.711);
}

.fromagerie {
  background-color: rgba(255, 161, 21, 0.6);
}

.épicerie {
  background-color: rgba(131, 96, 255, 0.6);
}

.beauté {
  background-color: rgba(255, 186, 233, 0.6);
}

.quincaillerie {
  background-color: rgba(189, 189, 189, 0.6);
}
